<div class="list">
  <ul class="list">
    <li class="item item-toggle">
	     I am coming
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Mahesh
	     <label class="toggle toggle-balanced">
	       <input type="checkbox" disabled >
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Santosh
	     <label class="toggle toggle-balanced">
	       <input type="checkbox" disabled checked>
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Srinivas
	     <label class="toggle toggle-balanced">
	       <input type="checkbox" disabled >
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  
	  <li class="item item-toggle">
	     Kanaka Raju 
	     <label class="toggle toggle-balanced">
	       <input type="checkbox" disabled checked>
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>


	</ul>
</div>