<div class="list">
  <div class="item" >
    <div class="row">
      <span class="profile-avatar col col-50">
        <span class="who">?</span>
        <span class="done">
          Curries for <b>4</b>
        </span>
      </span>
      <span class="profile-avatar col col-50">
        <img src="img/profilepic.jpg">
        <span class="done">          
          Rice for <b>4</b>
        </span>
      </span>
    </div>
    <!--
      ion-fork
      ion-ios-nutrition
      ion-ios-nutrition-outline
      ion-android-restaurant
    -->
  </div>


  <a class="item item-icon-left" href="#/home/dinner">
    <i class="icon ion-android-restaurant"></i>
    Dinner attendence
  </a>

  <a class="item item-icon-left" href="#/home/monthlyExpense">
    <i class="icon ion-social-usd"></i>
    Monthly Expenses
  </a>

  <a class="item item-icon-left" href="#/home/unplannedExpenses">
    <i class="icon ion-social-usd-outline"></i>
    Unplanned Expenses
  </a>

  <a class="item item-icon-left" href="#/home/payable">
    <i class="icon ion-arrow-graph-up-left"></i>
    Payable	- 
    <span class="pull-right">
    	<b>3300</b>
    </span>
  </a>

  <a class="item item-icon-left" href="#/home/paid">
    <i class="icon ion-arrow-graph-down-right"></i>
    I will be paid - 
    <span class="pull-right">
    	<b>100</b>
    </span>
  </a>
  
  <a class="item item-icon-left" href="#/home/settings">
    <i class="icon ion-ios-gear"></i>
    Settings
  </a>
</div>